@model CrudMVC.Models.Persona
@{
    //Layout = null;
    ViewBag.Title = "Login";
}

<div class="container">
    <div class="login_div center-div p-3 shadow-sm mt-5">

        @using (Html.BeginForm("ValidarLogin", "Home"))
        {
        <div class="form-group">
            @Html.LabelFor(Model => Model.usuario)
            @Html.TextBoxFor(Model => Model.usuario, new { @class = "form-control" })
            @Html.ValidationMessageFor(Model => Model.usuario, "", new { @class = "text-danger" })
        </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.clave)
                @Html.PasswordFor(Model => Model.clave, new { @class = "form-control" })
                @Html.ValidationMessageFor(Model => Model.clave, "", new { @class = "text-danger" })
            </div>
            <button type="submit" class="btn btn-primary w-100">Ingresar</button>
        }

        <!--<form action="/home/validarlogin/" method="post">
        <div class="form-group">
            <label for="usuario">Usuario</label>
            <input type="text" id="usuario" name="usuario" class="form-control">
        </div>
        <div class="form-group">
            <label for="clave">Password</label>
            <input type="password" id="clave" name="clave" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary w-100">Ingresar</button>
    </form>-->
    </div>
</div>